.ant-spin.ant-spin-spinning {
  height: 500px !important;
}

/* Loading1 */
.loading1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}
.loading1 > span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading1 > span > span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  border: 7px solid transparent;
  border-top: 7px solid #fff;
  animation-name: loading1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-right: 7px solid purple;
    border-left: 7px solid red;
    border-top: 7px solid blue;
    border-bottom: 7px solid lime;
    transition-delay: 1s;
  }
  25% {
    transform: rotate(90deg);
    border-top: 7px solid purple;
    border-bottom: 7px solid red;
    border-left: 7px solid blue;
    border-right: 7px solid lime;
    transition-delay: 1s;
  }
  50% {
    transform: rotate(180deg);
    border-left: 7px solid purple;
    border-right: 7px solid red;
    border-bottom: 7px solid blue;
    border-top: 7px solid lime;
    transition-delay: 1s;
  }
  75% {
    transform: rotate(270deg);
    border-bottom: 7px solid purple;
    border-top: 7px solid red;
    border-right: 7px solid blue;
    border-left: 7px solid lime;
    transition-delay: 1s;
  }
  100% {
    transform: rotate(270deg);
    border-bottom: 7px solid purple;
    border-top: 7px solid red;
    border-right: 7px solid blue;
    border-left: 7px solid lime;
    transition-delay: 1s;
  }
}
@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

/* Loading2 */

.loader2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}
.loader2 > span {
  animation-name: loading2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid red;
  border-top: 7px solid #fff;
}

@keyframes loading2 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

/* Loading3 */

.loading3 {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  animation-name: loading3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.loading3 > span {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 7px solid red;
  border-style: double;
  border-radius: 50%;
  left: 0px;
  top: 0px;
}
.loading3 > span > span {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -7px;
  top: -7px;
  border: 7px solid transparent;
  border-top: 6px solid cyan;
  border-bottom: 6px solid cyan;
  border-radius: 50%;
}
@keyframes loading3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
